* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: hsl(45, 50%, 95%);
  color: hsl(25, 76%, 18%)
}

h1,
h2,
ul,
ol,
p
{
  max-width: 37.5rem;
  width: calc(100% - 1.5rem);
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  margin: 1em auto .5em;
}

h2 {
  margin: 1em auto .5em;
}

ul,
ol,
p,
img {
  margin-bottom: 1em;
}

ul,
ol {
  padding-left: 1.25em;
}

li > ul {
  margin-top: .5em;
  font-weight: 400;
  width: 100%;
}

ol > li {
  font-weight: 700;
}

a {
  color: inherit;
  font-weight: 700;
}

li {
  margin-bottom: .5em;
}

img {
  max-height: 32.5rem;
  object-fit: cover;
  object-position: center 90%;
}

img + a {
  text-decoration: none;
  background-color: #ffffff66;
  box-shadow: 0 0 .25em #00000033;
  position: absolute;
  left: .5em;
  transform: translateY(-2.5em);
  font-size: 2em;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  transition: .25s;
}

img+a:hover {
  background-color: #fff;
  box-shadow: 0 0 0 #00000066;
}